body{
	display: flex;
	margin: 0;
	background-color: black;
}
div{
	margin: 0;
}
footer{
	width: 80vw;
	margin: 30vh auto auto auto;
	text-align: center;
}
#main{
	float: left;
	margin: 0 0 0 10vw;
	background-color: #00002f;
	display: block;
	width: 80vw;
	height: 100vh;
}
#test{
	display: float;
	width: 80vw;
	height: 20vh;
	margin: 1vh 0 0 0;
	text-align: center;
	color: #aaaaaa;
}
#time{
	width: 24vw;
	height: 20vh;
	margin: 1vh 0 0 28vw;
	text-align: center;
	color: #aaaaaa;
}
#settings{
	display: float;
	width: 80vw;
	height: 20vh;
	margin: 1vh 0 0 0;
	text-align: center;
	color: #aaaaaa;
}
#taim{
	display: inline;
	margin: 0 0 5vh 0;
	color: #909;
}
#light{
	margin: auto;
	width: 15vw;
	height: 4vh;
	text-align: center;
}
.button{
	display: inline;
	margin: auto;
}
.lgreen{
	color: #096;
}
.green{
	color: #090;
}
.red{
	color: #900;
}
.yellow{
	color: #bb0;
}